.home {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  text-align: center;

  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.9),
      rgba(39, 39, 39, 0.3)
    ),
    url(../images/she.jpg) center;
  background-size: cover;

  &__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid white;

    &--last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}
